@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid rgb(209 213 219);
  -webkit-text-fill-color: #858598;
  -webkit-box-shadow: 0 0 0px 20px #fff;
  transition: background-color 1000s ease-in-out 0s;
  color: #fff;
}

.btn {
  @apply flex h-[48px] items-center justify-center rounded-[6px] border-2 border-transparent bg-accent-color text-[14px] font-normal text-white transition duration-500 hover:border-accent-color hover:bg-white hover:text-accent-color focus:outline-none focus:ring focus:ring-accent-color focus:ring-opacity-50 sTablet:w-[160px];
}

.input {
  @apply h-[47px] w-full rounded-[6px] border border-gray-300 px-[16px] text-[12px] font-medium text-second-color shadow-sm outline-none focus:border-[2px] focus:border-accent-color;
}

.label {
  @apply absolute top-[13px] left-[16px] text-[14px] font-normal text-second-color;
}

.error {
  @apply ml-[16px] block min-h-[18px] text-[12px] font-normal text-error-color;
}

.helper {
  @apply absolute top-0 right-[12px] hidden translate-y-[-50%]  bg-main-bg  px-[4px] text-[12px] font-normal text-error-color;
}

.input:focus ~ .label,
.input:not(:focus):valid ~ .label {
  @apply top-0 left-[12px] translate-y-[-50%] bg-main-bg  px-[4px] text-[12px] font-normal;
}

.input:not(:focus):not(:placeholder-shown):invalid {
  @apply border-[2px] border-error-color;
}

.input:not(:focus):not(:placeholder-shown):invalid ~ .label {
  @apply top-0 left-[12px] translate-y-[-50%] bg-main-bg px-[4px] text-[12px] font-normal  text-error-color;
}

.input:not(:focus):not(:placeholder-shown):invalid ~ .error,
.input:not(:focus):not(:placeholder-shown):invalid ~ .helper {
  @apply block;
}
